<nav class="navbar fixed-top navbar-light bg-light justify-content-center">
  <ul class="nav ">
    <h2>Quotes</h2>
  </ul>
</nav>  
<div class="container">
 
  <form >
    <label for="Quote"><strong>Quote</strong></label>
    <input type="text"name="Quote" class="form-control" placeholder="Once beaten twice as loud" #quote><br>
    <label for="Author"><strong>Author</strong></label>
    <input type="text" name="Author" class="form-control" placeholder="Petra" #author> <br>
    <label for="Date"><strong>Date</strong></label>    
    <input type="date" name="Date" class="form-control" value="Enter Date" #date> <br>
    <input type="button" class="btn btn-primary" value="Add Quote" (click)="addQuote(quote, author, date)">
  </form>
</div>

<div class="container">
  <app-quotes *ngFor="let quote of sortedQuotes()" [quotes]="quote"></app-quotes>
</div>