<nav class="navbar fixed-top navbar-light bg-light justify-content-center">
  <ul class="nav ">
    <h2>Quotes</h2>
  </ul>
</nav>  
<div class="container">
 
  <form action="">
    <label for="Quote"><strong>Quote</strong></label>
    <input type="text"name="Quote" class="form-control"><br>
    <label for="Author"><strong>Author</strong></label>
    <input type="text" name="Author" class="form-control"> <br>
    <label for="Date"><strong>Date</strong></label>    
    <input type="date" name="Date" class="form-control" value="Enter Date"> <br>
    <input type="button" class="btn btn-primary" value="Add Quote">
  </form>
</div>