.points{
    background: #333;
    color: #fff;    
}
.card li{
    list-style: none;
}

li a:hover{
    color: #333;
    text-decoration: none;
}
.blockquote{
    font-size: 18px;
}
a{
    color: #fff;
}